@model IEnumerable<SMS_App.Business.Models.Order>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InstitutionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InventaryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestedQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedOrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarkUpId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InstitutionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InventaryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestedQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpectedOrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MarkUpId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderId })
        </td>
    </tr>
}

</table>
