@model SMS_App.Business.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InstitutionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstitutionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InventaryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InventaryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarkUpId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarkUpId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpectedOrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedOrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BufferDaysBeforeDelivery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BufferDaysBeforeDelivery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
